/* Baseline Styles */

html {
	box-sizing: border-box;
	font-size: 10px;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

body {
	@include font-style($body-font-style);

	background-color: $background-primary-color;
	color: $text-primary-color;
	font-family: $body-font-family;
}

h1 {
	@include font-style($heading-1-font-style);

	font-family: $heading-font-family;
	margin: 0;
}

h2 {
	@include font-style($heading-2-font-style);

	font-family: $heading-font-family;
	margin: 0;
}

h3 {
	@include font-style($heading-3-font-style);

	font-family: $heading-font-family;
	margin: 0;
}

h4 {
	@include font-style($heading-4-font-style);

	font-family: $heading-font-family;
	margin: 0;
}

h5 {
	@include font-style($heading-5-font-style);

	font-family: $heading-font-family;
	margin: 0;
}

h6 {
	@include font-style($heading-6-font-style);

	font-family: $heading-font-family;
	margin: 0;
}

/* Pseudo Elements */

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: $background-primary-color;
}

::-webkit-scrollbar-thumb {
	background: $white;
	/* stylelint-disable-next-line property-no-vendor-prefix */
	-webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: $background-primary-color;
}
