/* Baseline Styles */

html {
	box-sizing: border-box;
	font-size: 10px;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

body {
	@include font-style($body-font-style);

	overflow-x: hidden;
	color: $text-primary-color;
	font-family: $body-font-family;
}

h1 {
	@include font-style($heading-1-font-style);

	font-family: $heading-font-family;
	font-weight: 700;
}

h2 {
	@include font-style($heading-2-font-style);

	font-family: $heading-font-family;
	font-weight: 700;
}

h3 {
	@include font-style($heading-3-font-style);

	font-family: $heading-font-family;
	font-weight: 700;
}

h4 {
	@include font-style($heading-4-font-style);

	font-family: $heading-font-family;
	font-weight: 700;
}

h5 {
	@include font-style($heading-5-font-style);

	font-family: $heading-font-family;
	font-weight: 700;
}

h6 {
	@include font-style($heading-6-font-style);

	font-family: $heading-font-family;
	font-weight: 700;
}

small {
	@include font-style($body-font-sm-style);
}

strong {
	font-weight: 700;
}

i,
em {
	font-style: italic;
}
