// Matter Font
$matter-thin-src: font-src('Matter-Thin');
$matter-thin-italic-src: font-src('Matter-ThinItalic');
$matter-light-src: font-src('Matter-Light');
$matter-light-italic-src: font-src('Matter-LightItalic');
$matter-medium-src: font-src('Matter-Medium');
$matter-medium-italic-src: font-src('Matter-MediumItalic');
$matter-reg-src: font-src('Matter-Regular');
$matter-reg-italic-src: font-src('Matter-RegularItalic');
$matter-semibold-src: font-src('Matter-SemiBold');
$matter-semibold-italic-src: font-src('Matter-SemiBoldItalic');

// Recoleta Font
$recoleta-reg-src: font-src('Recoleta-Regular');

@at-root {
	// Matter Font
	@include font-face(
		'Matter',
		$matter-thin-src,
		100,
		normal
	);
	@include font-face(
		'Matter',
		$matter-thin-italic-src,
		100,
		italic
	);
	@include font-face(
		'Matter',
		$matter-light-src,
		300,
		normal
	);
	@include font-face(
		'Matter',
		$matter-light-italic-src,
		300,
		italic
	);
	@include font-face(
		'Matter',
		$matter-reg-src,
		400,
		normal
	);
	@include font-face(
		'Matter',
		$matter-reg-italic-src,
		400,
		italic
	);
	@include font-face(
		'Matter',
		$matter-medium-src,
		500,
		normal
	);
	@include font-face(
		'Matter',
		$matter-medium-italic-src,
		500,
		italic
	);
	@include font-face(
		'Matter',
		$matter-semibold-src,
		600,
		normal
	);
	@include font-face(
		'Matter',
		$matter-semibold-italic-src,
		600,
		italic
	);

	// Recoleta Font
	@include font-face(
		'Recoleta',
		$recoleta-reg-src,
		400,
		normal
	);
}
