/* stylelint-disable selector-class-pattern */

/* Locomotive Scroll */

.c-scrollbar {
	transform: none !important;
	transition: none !important;
}

.c-scrollbar_thumb {
	mix-blend-mode: difference;
	background: $white;
	opacity: 1;
	width: 5px;
	z-index: 9999;
}

/* Pseudo Elements */

::-webkit-scrollbar {
	background: $background-primary-color;
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-thumb {
	/* stylelint-disable-next-line property-no-vendor-prefix */
	-webkit-border-radius: 1ex;
	background: $white;
}

::-webkit-scrollbar-corner {
	background: $background-primary-color;
}
