/* stylelint-disable selector-class-pattern */

/* Locomotive Scroll */

.c-scrollbar {
	transform: none !important;
	transition: none !important;
}

.c-scrollbar_thumb {
	opacity: 1;
	z-index: $z-index-god;
	mix-blend-mode: difference;
	background: $white;
	width: 5px;
}

/* Mouse Follower */

.mf-cursor {
	z-index: $z-index-mouse-follower;

	&::before {
		background: $black;
	}

	&.-pointer {
		&::before {
			background: $black;
			transform: scale(1.15);
		}
	}
}

/* Pseudo Elements */

::-webkit-scrollbar {
	background: $background-primary-color;
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-thumb {
	/* stylelint-disable-next-line property-no-vendor-prefix */
	-webkit-border-radius: 1ex;
	background: $white;
}

::-webkit-scrollbar-corner {
	background: $background-primary-color;
}
