// Poppins Font Variables
$poppins-thin-src: font-src('Poppins-Thin');
$poppins-thin-italic-src: font-src('Poppins-ThinItalic');
$poppins-extra-light-src: font-src('Poppins-ExtraLight');
$poppins-extra-light-italic-src: font-src('Poppins-ExtraLightItalic');
$poppins-light-src: font-src('Poppins-Light');
$poppins-light-italic-src: font-src('Poppins-LightItalic');
$poppins-regular-src: font-src('Poppins-Regular');
$poppins-italic-src: font-src('Poppins-Italic');
$poppins-medium-src: font-src('Poppins-Medium');
$poppins-medium-italic-src: font-src('Poppins-MediumItalic');
$poppins-semibold-src: font-src('Poppins-SemiBold');
$poppins-semibold-italic-src: font-src('Poppins-SemiBoldItalic');
$poppins-bold-src: font-src('Poppins-Bold');
$poppins-bold-italic-src: font-src('Poppins-BoldItalic');
$poppins-extrabold-src: font-src('Poppins-ExtraBold');
$poppins-extrabold-italic-src: font-src('Poppins-ExtraBoldItalic');
$poppins-black-src: font-src('Poppins-Black');
$poppins-black-italic-src: font-src('Poppins-BlackItalic');

// Poppins Font Faces
@at-root {
	@include font-face('Poppins', $poppins-thin-src, 100, normal);
	@include font-face('Poppins', $poppins-thin-italic-src, 100, italic);
	@include font-face('Poppins', $poppins-extra-light-src, 200, normal);
	@include font-face('Poppins', $poppins-extra-light-italic-src, 200, italic);
	@include font-face('Poppins', $poppins-light-src, 300, normal);
	@include font-face('Poppins', $poppins-light-italic-src, 300, italic);
	@include font-face('Poppins', $poppins-regular-src, 400, normal);
	@include font-face('Poppins', $poppins-italic-src, 400, italic);
	@include font-face('Poppins', $poppins-medium-src, 500, normal);
	@include font-face('Poppins', $poppins-medium-italic-src, 500, italic);
	@include font-face('Poppins', $poppins-semibold-src, 600, normal);
	@include font-face('Poppins', $poppins-semibold-italic-src, 600, italic);
	@include font-face('Poppins', $poppins-bold-src, 700, normal);
	@include font-face('Poppins', $poppins-bold-italic-src, 700, italic);
	@include font-face('Poppins', $poppins-extrabold-src, 800, normal);
	@include font-face('Poppins', $poppins-extrabold-italic-src, 800, italic);
	@include font-face('Poppins', $poppins-black-src, 900, normal);
	@include font-face('Poppins', $poppins-black-italic-src, 900, italic);
}
