// Fira Code font variables
$fira-code-bold-src: font-src('FiraCode-Bold');
$fira-code-light-src: font-src('FiraCode-Light');
$fira-code-medium-src: font-src('FiraCode-Medium');
$fira-code-regular-src: font-src('FiraCode-Regular');
$fira-code-retina-src: font-src('FiraCode-Retina');
$fira-code-semibold-src: font-src('FiraCode-SemiBold');

// DotGothic16 font variables
$dot-gothic-16-regular-src: font-src('DotGothic16-Regular');

// Manrope font variables
$manrope-extra-light-src: font-src('Manrope-ExtraLight');
$manrope-light-src: font-src('Manrope-Light');
$manrope-regular-src: font-src('Manrope-Regular');
$manrope-medium-src: font-src('Manrope-Medium');
$manrope-semibold-src: font-src('Manrope-SemiBold');
$manrope-bold-src: font-src('Manrope-Bold');
$manrope-extrabold-src: font-src('Manrope-ExtraBold');

@at-root {
	// Fira Code font faces
	@include font-face('Fira Code', $fira-code-bold-src, 700, normal);
	@include font-face('Fira Code', $fira-code-light-src, 300, normal);
	@include font-face('Fira Code', $fira-code-medium-src, 500, normal);
	@include font-face('Fira Code', $fira-code-regular-src, 400, normal);
	@include font-face('Fira Code', $fira-code-retina-src, 400, normal);
	@include font-face('Fira Code', $fira-code-semibold-src, 600, normal);

	// DotGothic16 font faces
	@include font-face('DotGothic16', $dot-gothic-16-regular-src, 400, normal);

	// Manrope font faces
	@include font-face('Manrope', $manrope-extra-light-src, 200, normal);
	@include font-face('Manrope', $manrope-light-src, 300, normal);
	@include font-face('Manrope', $manrope-regular-src, 400, normal);
	@include font-face('Manrope', $manrope-medium-src, 500, normal);
	@include font-face('Manrope', $manrope-semibold-src, 600, normal);
	@include font-face('Manrope', $manrope-bold-src, 700, normal);
	@include font-face('Manrope', $manrope-extrabold-src, 800, normal);
}
