// Fira Code font variables
$fira-code-bold-src: font-src('FiraCode-Bold');
$fira-code-light-src: font-src('FiraCode-Light');
$fira-code-medium-src: font-src('FiraCode-Medium');
$fira-code-regular-src: font-src('FiraCode-Regular');
$fira-code-retina-src: font-src('FiraCode-Retina');
$fira-code-semibold-src: font-src('FiraCode-SemiBold');



// Inter Tight font variables
$inter-tight-regular-src: font-src('InterTight-Regular');
$inter-tight-medium-src: font-src('InterTight-Medium');
$inter-tight-semibold-src: font-src('InterTight-SemiBold');
$inter-tight-bold-src: font-src('InterTight-Bold');

@at-root {
	// Fira Code font faces
	@include font-face('Fira Code', $fira-code-bold-src, 700, normal);
	@include font-face('Fira Code', $fira-code-light-src, 300, normal);
	@include font-face('Fira Code', $fira-code-medium-src, 500, normal);
	@include font-face('Fira Code', $fira-code-regular-src, 400, normal);
	@include font-face('Fira Code', $fira-code-retina-src, 400, normal);
	@include font-face('Fira Code', $fira-code-semibold-src, 600, normal);


	// Inter Tight font faces
	@include font-face('Inter Tight', $inter-tight-regular-src, 400, normal);
	@include font-face('Inter Tight', $inter-tight-medium-src, 500, normal);
	@include font-face('Inter Tight', $inter-tight-semibold-src, 600, normal);
	@include font-face('Inter Tight', $inter-tight-bold-src, 700, normal);
}
