// Root
:root {
	--content-color: #000;
	--content-color-2: #272727;
	--background-primary-color: #fff;
	--background-secondary-color: #c8c8c8;
	--background-primary-color-rgb: 255, 255, 255;
	--background-secondary-color-rgb: 200, 200, 200;
	--line-color: #bbb;
	--blue-color: #4c6bb9;
	--green-color: #4cb84e;
	--yellow-color: #b7a14e;
	--red-color: #b74d4e;
}

[data-theme='dark'] {
	--content-color: #fff;
	--content-color-2: #c8c8c8;
	--background-primary-color: #000;
	--background-secondary-color: #272727;
	--background-primary-color-rgb: 0, 0, 0;
	--background-secondary-color-rgb: 39, 39, 39;
	--line-color: #424345;
	--blue-color: #4c6bb9;
	--green-color: #4cb84e;
	--yellow-color: #b7a14e;
	--red-color: #b74d4e;
}

[data-theme='dark'] [data-hide-on-theme='dark'],
[data-theme='light'] [data-hide-on-theme='light'] {
	display: none;
}

html {
	box-sizing: border-box;
	scrollbar-gutter: stable; // Reserve space for scrollbar
}

*,
*::before,
*::after {
	box-sizing: inherit;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

body {
	background-color: var(--background-primary-color);
	color: var(--content-color);
	font-family: $body-font-family;
	transition:
		color 0.5s ease,
		background-color 0.5s ease;

	// Prevent transitions on page load to avoid a flash of unstyled content
	&.preload {
		transition: none !important;

		* {
			transition: none !important;
		}
	}

	* {
		transition:
			color 0.5s ease,
			background-color 0.5s ease;
	}
}

// Typography
h1,
.h1 {
	font-family: $heading-font-family;
	font-size: 104px;
	line-height: 100%;
	letter-spacing: -0.02em;
	font-weight: 700;
	color: var(--content-color);

	@media (max-width: $tablet) {
		font-size: 64px;
		font-weight: 700;
	}
}

h2,
.h2 {
	font-family: $heading-font-family;
	font-size: 72px;
	line-height: 100%;
	letter-spacing: -0.02em;
	font-weight: 600;
	color: var(--content-color);

	@media (max-width: $tablet) {
		font-size: 56px;
	}
}

h3,
.h3 {
	font-family: $heading-font-family;
	font-size: 64px;
	line-height: 100%;
	letter-spacing: -0.02em;
	font-weight: 600;
	color: var(--content-color);

	@media (max-width: $tablet) {
		font-size: 48px;
	}
}

h4,
.h4 {
	font-family: $heading-font-family;
	font-size: 56px;
	line-height: 100%;
	letter-spacing: -0.02em;
	font-weight: 600;
	color: var(--content-color);

	@media (max-width: $tablet) {
		font-size: 40px;
	}
}

h5,
.h5 {
	font-family: $heading-font-family;
	font-size: 40px;
	line-height: 100%;
	letter-spacing: -0.02em;
	font-weight: 600;
	color: var(--content-color);

	@media (max-width: $tablet) {
		font-size: 32px;
	}
}

h6,
.h6 {
	font-family: $heading-font-family;
	font-size: 32px;
	line-height: 100%;
	letter-spacing: -0.02em;
	font-weight: 600;
	color: var(--content-color);

	@media (max-width: $tablet) {
		font-size: 28px;
	}
}

// Default paragraph = Body Large
p {
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: var(--content-color-2);
}

// Body size utilities
.body-xxl {
	font-size: 28px;
	line-height: 120%;
	letter-spacing: 0.03em;
}

.body-xl {
	font-size: 22px;
	line-height: 130%;
	letter-spacing: 0.02em;
}

.body-l {
	font-size: 18px;
	line-height: 150%;
	letter-spacing: 0.02em;
}

.body {
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: var(--content-color-2);
}

.body-s {
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.01em;
}

.caption,
.body-2 {
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
	letter-spacing: 0.01em;
	color: var(--content-color-2);
}

// Weight utilities
.weight-regular {
	font-weight: 400;
}

.weight-medium {
	font-weight: 500;
}

.weight-semibold {
	font-weight: 600;
}

.weight-bold {
	font-weight: 700;
}

.label {
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: 150%;
	letter-spacing: 0.01em;
	color: var(--content-color-2);
}

.link {
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: var(--content-color);
}

.badge {
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
	letter-spacing: 0.02em;
}

.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
	background-color: var(--content-color);
	color: var(--background-primary-color);
	padding: 16px 20px;
	border-radius: 100px;
	border: 1px solid var(--content-color);
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0.02em;
	line-height: 150%;
	white-space: nowrap;
	cursor: pointer;
	text-decoration: none;
	transition:
		background-color 0.2s ease,
		border-color 0.2s ease,
		color 0.2s ease;

	&:active {
		background-color: var(--background-primary-color);
		color: var(--content-color);
	}

	&--outline {
		background-color: transparent;
		border-color: var(--content-color);
		color: var(--content-color);

		&:active {
			background-color: var(--content-color);
			color: var(--background-primary-color);
		}
	}

	&--l {
		padding: 24px 48px;
		font-size: 22px;
		line-height: 130%;
	}

	&--s {
		padding: 12px 20px;
	}
}

code,
.code {
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 1;
	font-family: $code-font-family;

	@media (max-width: $tablet) {
		font-size: 10px;
	}
}

/* stylelint-disable */
pre {
	white-space: pre-wrap; // css-3
	white-space: -moz-pre-wrap; // Mozilla, since 1999
	white-space: -pre-wrap; // Opera 4-6
	white-space: -o-pre-wrap; // Opera 7
	word-wrap: break-word; // Internet Explorer 5.5+
}

/* stylelint-enable */

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

// Scrollbar
::-webkit-scrollbar {
	background: var(--background-primary-color);
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-thumb {
	/* stylelint-disable-next-line property-no-vendor-prefix */
	-webkit-border-radius: 1ex;
	background: var(--content-color);
}

::-webkit-scrollbar-corner {
	background: var(--background-primary-color);
}
