/* stylelint-disable selector-class-pattern */

// Locomotive Scroll
.c-scrollbar {
	transform: none !important;
	transition: none !important;
}

.c-scrollbar_thumb {
	opacity: 1;
	z-index: $z-index-above-all;
	mix-blend-mode: difference;
	background: $white;
	width: 5px;
}
