// Container styles
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;

	@media (min-width: $tablet) {
		width: 750px;
	}

	@media (min-width: $laptop) {
		width: 810px;
	}
}

// Spacing styles
$spacing-values: (
	0: $space-0,
	4: $space-4,
	8: $space-8,
	12: $space-12,
	14: $space-14,
	16: $space-16,
	24: $space-24,
	32: $space-32,
	40: $space-40,
	56: $space-56,
);

// Generate margin utilities
@each $name, $value in $spacing-values {
	.mt-#{$name} {
		margin-top: #{$value};
	}

	.mb-#{$name} {
		margin-bottom: #{$value};
	}
}

// Screen reader
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0); // Fallback for older browsers
	clip-path: inset(50%); // Modern standard
	border: 0;
	white-space: nowrap; // Prevents wrapping
}
