// Container styles
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;

	@media (min-width: $tablet) {
		width: 750px;
	}

	@media (min-width: $laptop) {
		width: 810px;
	}
}

// Spacing styles
.mb-8 {
	margin-bottom: $s-2;
}

.mb-12 {
	margin-bottom: $s-25;
}

.mb-14 {
	margin-bottom: $s-35;
}

.mb-16 {
	margin-bottom: $s-4;
}

.mb-24 {
	margin-bottom: $s-6;
}

.mb-32 {
	margin-bottom: $s-8;
}

.mb-40 {
	margin-bottom: $s-10;
}

.mb-56 {
	margin-bottom: $s-14;
}

// Screen reader
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0); // Fallback for older browsers
	clip-path: inset(50%); // Modern standard
	border: 0;
	white-space: nowrap; // Prevents wrapping
}
