// Breakpoints
$mobile-sm: 320px;
$mobile-md: 510px;
$mobile-lg: 610px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;
$desktop-lg: 1440px;

// Spacing
$s-0: 0;
$s-05: 2px;
$s-1: 4px;
$s-2: 8px;
$s-25: 12px;
$s-3: 10px;
$s-35: 14px;
$s-4: 16px;
$s-5: 20px;
$s-6: 24px;
$s-7: 28px;
$s-8: 32px;
$s-10: 40px;
$s-14: 56px;
$s-16: 64px;
$s-20: 80px;

// Font families
$body-font-family: 'Poppins', sans-serif;
$heading-font-family: 'Poppins', sans-serif;

// Stacking order
$z-index-header: 9996;
$z-index-sidebar: 9997;
$z-index-above-all: 9999;

// Base URL
$base-url: '../' !default;
