// Breakpoints
$mobile-sm: 320px;
$mobile-md: 510px;
$mobile-lg: 610px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;
$desktop-lg: 1440px;

// Font families
$body-font-family: 'Manrope', sans-serif;
$heading-font-family: 'Manrope', sans-serif;
$code-font-family: 'Fira Code', monospace;

// Stacking order
$z-index-header: 230;
$z-index-sidebar: 240;
$z-index-above-all: 250;

// Header height
$header-height: 68px;

// Base URL
$base-url: '../' !default;
