// Breakpoints
$mobile-sm: 320px;
$mobile-md: 510px;
$mobile-lg: 610px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;
$desktop-lg: 1440px;

// Spacing
$space-0: 0; // $s-0 These are the old values
$space-2: 2px; // $s-05
$space-4: 4px; // $s-1
$space-6: 6px; // $s-15
$space-8: 8px; // $s-2
$space-10: 10px; // $s-3
$space-12: 12px; // $s-25
$space-14: 14px; // $s-35
$space-16: 16px; // $s-4
$space-20: 20px; // $s-5
$space-24: 24px; // $s-6
$space-28: 28px; // $s-7
$space-32: 32px; // $s-8
$space-40: 40px; // $s-10
$space-56: 56px; // $s-14
$space-64: 64px; // $s-16
$space-80: 80px; // $s-20

// Font families
$body-font-family: 'Poppins', sans-serif;
$heading-font-family: 'Poppins', sans-serif;

// Stacking order
$z-index-header: 9996;
$z-index-sidebar: 9997;
$z-index-above-all: 9999;

// Base URL
$base-url: '../' !default;
