$ns: '.button';

#{$ns} {
	display: inline-block;
	position: relative;
	border: 1px solid $white;
	border-radius: 9999px;
	background-color: $black;
	padding: 25px 30px;
	min-width: 200px;
	overflow: hidden;
	color: $white;
	font-size: 3rem;
	text-align: center;

	&__content {
		position: relative;
		overflow: hidden;
	}

	&__text {
		display: block;
	}

	&__eclipse {
		display: flex;
		position: absolute;
		bottom: 0;
		left: 0;
		justify-content: center;
		align-items: center;
		border-color: $white;
		background-color: $white;
		width: 100%;
		height: 100%;
		color: $black;
	}

	// Size

	&--small {
		padding: 20px;
		font-size: 2rem;
	}

	// Color

	&--black {
		border-color: $black;
		background-color: $black;
		color: $white;
	}

	&--outline-black {
		border-color: $black;
		background-color: $white;
		color: $black;

		#{$ns}__eclipse {
			border-color: $black;
			background-color: $black;
			color: $white;
		}
	}
}
