$ns: '.site-header';

#{$ns} {
	height: $site-header-height;

	.container-fluid {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		padding: 0 20px;

		@include at-laptop {
			padding: 0 40px;
		}
	}

	&__title {
		font-weight: 600;
		font-family: $recoleta;
	}

	&__nav {
		display: inline-flex;
		align-items: center;
	}

	&__menu-text {
		display: none;
		align-items: center;
		margin-right: 55px;

		@include at-laptop {
			display: flex;
		}
	}
}
