$ns: '.site-header';

#{$ns} {
	position: relative;
	z-index: $z-index-header;
	background-color: $black;
	height: $site-header-height;
	color: $white;

	.container-fluid {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 20px;
		height: 100%;

		@include at-laptop {
			padding: 0 40px;
		}
	}

	&__title {
		font-weight: 800;
		font-family: $inter-tight;
	}

	&__letter {
		display: inline-block;

		&.highlight {
			color: $gray-400;
		}
	}

	&__nav {
		display: inline-flex;
		align-items: center;
	}

	&__nav-text {
		display: none;
		align-items: center;
		margin-right: 55px;

		@include at-laptop {
			display: flex;
		}
	}
}
