$ns: '.parallax-layout';

#{$ns} {
	position: relative;

	&__content {
		display: grid;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	&__parallax-anchor {
		display: none;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);

		@include at-tablet {
			display: block;
		}
	}

	&__parallax-item {
		display: none;
		position: absolute;
		right: 0;
		letter-spacing: 0.3rem;
		z-index: 1;

		@include at-tablet {
			display: block;
		}
	}

	// Modifiers

	&--bg-black {
		background-color: $black;
	}

	&--bg-white {
		background-color: $white;
	}

	&--full-height {
		min-height: 100vh;
	}
}
