$ns: '.pointer-follower';

#{$ns} {
	display: none;
	position: fixed;
	justify-content: center;
	align-items: center;
	z-index: $z-index-pointer-follower;
	border-radius: 50%;
	background-color: $white;
	pointer-events: none;
	color: $black;
	font-size: 15px;

	@include at-laptop {
		display: flex;
	}

	&--mix-blend-mode {
		mix-blend-mode: difference;
	}
}
