$ns: '.tag-cloud';

#{$ns} {
	position: relative;
	cursor: pointer;

	&__tag {
		font-size: 2rem;
		font-weight: 600;
		position: absolute;
		top: 50%;
		left: 50%;
		transform-origin: 50% 50%;
		transition: all 0.1s;
		will-change: transform, opacity, filter;
	}
}
