@import '../base/variables';
@import '../base/mixins';

.articleImage {
	aspect-ratio: 13 / 9;
	border-top-left-radius: $space-12;
	border-top-right-radius: $space-12;
	overflow: hidden;
	position: relative;
	transition: all 0.4s ease;
	width: 100%;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.articleCard {
	background-color: var(--background-primary-color);
	border-radius: $space-20;
	border: 1px solid var(--line-color);
	color: var(--content-color);
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
	transition: all 0.4s ease;
	width: 100%;

	&.loading {
		opacity: 0;
	}

	&.loaded {
		opacity: 1;
	}

	&:hover:not(:has(.tag:hover)) {
		border-color: var(--content-color);
	}
}

.content {
	display: flex;
	flex: 1;
	flex-direction: column;
	min-height: 0;
	padding: $space-20;
}

.eyebrow {
	color: var(--content-color-2);
	font-size: 14px;

	@media (max-width: $tablet) {
		font-size: 12px;
	}
}

.title {
	font-size: 24px;

	@media (max-width: $tablet) {
		font-size: 20px;
	}
}

.description {
	@include truncate-text(2);
}

.bigCard {
	.articleImage {
		overflow: hidden;
		height: 260px;
	}
}

.horizontal {
	display: grid;
	grid-template-columns: 240px 1fr;
	gap: $space-32;

	.articleImage {
		margin-bottom: 0;
	}
}

.tags {
	display: flex;
	flex-wrap: wrap;
	gap: $space-4;
	margin-top: auto;
}

.tag {
	align-items: center;
	border-radius: 100px;
	border: 1px solid var(--line-color);
	color: var(--content-color-2);
	display: flex;
	justify-content: center;
	padding: 6px 16px;
	text-transform: lowercase;
	transition: all 0.4s ease;

	&:hover {
		border-color: var(--content-color);
		color: var(--content-color);
	}
}

@media screen and (max-width: $tablet) {
	.articleImage {
		height: 228px !important;
	}

	.articleImage img {
		height: 228px !important;
	}
}
