@import '../base/variables';
@import '../base/mixins';

$ns: '.article-card';

#{$ns} {
	color: inherit;
	display: flex;
	flex-direction: column;
	gap: 24px;
	overflow: hidden;
	position: relative;
	text-decoration: none;
	width: 100%;

	&__image {
		background-color: var(--background-secondary-color);
		border-radius: 20px;
		height: 400px;
		overflow: hidden;
		position: relative;
		width: 100%;

		@media (max-width: $tablet) {
			height: 280px;
		}

		img {
			height: 100%;
			object-fit: cover;
			transition: transform 0.4s ease;
			width: 100%;
		}
	}

	&:hover:not(:has(#{$ns}__tag:hover)) &__image img {
		transform: scale(1.03);
	}

	&__content {
		display: flex;
		flex: 1;
		flex-direction: column;
		gap: 8px;
		min-height: 0;
	}

	&__eyebrow {
		color: var(--content-color-2);
		font-size: 14px;
		margin-bottom: 4px;

		@media (max-width: $tablet) {
			font-size: 12px;
		}
	}

	&__title {
		color: var(--content-color);
		font-size: 22px;
		font-weight: 600;
		letter-spacing: 0.02em;
		line-height: 1.3;

		@media (max-width: $tablet) {
			font-size: 20px;
		}
	}

	&__description {
		color: var(--content-color-2);
		font-size: 18px;
		font-weight: 400;
		letter-spacing: 0.02em;
		line-height: 1.5;

		@include truncate-text(2);

		@media (max-width: $tablet) {
			font-size: 16px;
		}
	}

	&.big-card {
		#{$ns}__image {
			height: 260px;

			@media (max-width: $tablet) {
				height: 228px;
			}
		}
	}

	&.horizontal {
		display: grid;
		gap: 32px;
		grid-template-columns: 240px 1fr;

		@media (max-width: $tablet) {
			grid-template-columns: 1fr;
		}

		#{$ns}__image {
			height: 100%;
			min-height: 180px;

			@media (max-width: $tablet) {
				height: 228px;
			}
		}
	}

	&__tags {
		display: flex;
		flex-wrap: wrap;
		gap: 4px;
		margin-top: 8px;
	}

	&__tag {
		align-items: center;
		border: 1px solid var(--line-color);
		border-radius: 100px;
		color: var(--content-color-2);
		display: flex;
		justify-content: center;
		padding: 6px 16px;
		text-transform: lowercase;
		transition:
			border-color 0.2s ease,
			color 0.2s ease;

		&:hover {
			border-color: var(--content-color);
			color: var(--content-color);
		}

		[data-theme='light'] & {
			border-color: var(--content-color);
		}
	}
}
