@import '../base/variables';
@import '../base/mixins';

.articleImage {
	aspect-ratio: 13 / 9;
	width: 100%;
	overflow: hidden;
	border-radius: $space-8;
	margin-bottom: $space-20;

	img {
		width: 100%;
		height: 100%;
		transition: transform 0.4s ease;
		object-fit: cover;
	}
}

.articleCard {
	width: 100%;
	color: var(--content-color);
	transition: opacity 0.2s ease-in-out;

	&.loading {
		opacity: 0;
	}

	&.loaded {
		opacity: 1;
	}

	&:hover {
		.articleImage img {
			transform: scale(1.1);
		}
	}
}

.description {
	@include truncate-text(2);
}

.bigCard {
	.articleImage {
		overflow: hidden;
		height: 260px;
	}
}

.horizontal {
	display: grid;
	grid-template-columns: 240px 1fr;
	gap: $space-32;

	.articleImage {
		margin-bottom: 0;
	}
}

.tags {
	display: flex;
	flex-wrap: wrap;
	gap: $space-4;
}

.tag {
	align-items: center;
	border-radius: 100px;
	border: 1px solid var(--line-color);
	display: flex;
	justify-content: center;
	padding: 6px 16px;
	text-transform: lowercase;
	transition: 0.2s ease;

	&:hover {
		border-color: var(--content-color);
	}
}

@media screen and (max-width: $tablet) {
	.articleImage {
		height: 228px !important;
	}

	.articleImage img {
		height: 228px !important;
	}
}
