@import '../base/variables';
@import '../base/mixins';

$ns: '.avatar';

#{$ns} {
	width: 136px;
	height: 136px;
	border: 1px solid var(--line-color);
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		width: calc(100% - $space-8);
		height: calc(100% - $space-8);
		border-radius: 100%;
		object-fit: cover;
	}

	&.small {
		width: 50px;
		height: 50px;
	}

	&__placeholder {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	@media screen and (width <= 610px) {
		height: 80px;
		width: 80px;
	}
}
