@import '../base/variables';

.container {
	position: relative;
}

.copyButton {
	position: absolute;
	top: $space-8;
	right: $space-8;
	display: flex;
	align-items: center;
	padding: $space-4 $space-8;
	background-color: var(--background-secondary-color);
	color: var(--content-color);
	border-radius: $space-4;
	height: 30px;
	font-size: 18px;
	font-weight: 500;
}

.copyIcon {
	width: 18px;
	height: 18px;
	fill: var(--content-color);
}

.codeBlock {
	font-size: 18px !important;

	@media (max-width: $tablet) {
		font-size: 14px !important;
	}

	pre {
		margin: $space-24 0 !important;
	}

	&:first-child {
		pre {
			margin-top: 0 !important;
		}
	}

	&:last-child {
		pre {
			margin-bottom: 0 !important;
		}
	}
}

.codespan {
	padding: $space-2 $space-4;
	background-color: var(--background-secondary-color);
	color: var(--content-color);
	border-radius: $space-2;
	font-weight: 600;
	font-size: 1em;

	@media (max-width: $tablet) {
		font-size: 0.8em;
	}
}
