@import '../base/variables';
@import '../base/mixins';

.header {
	padding: $space-24 $space-40;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	color: var(--content-color);

	img {
		display: block;
	}
}

.logoText2 {
	color: #797a7e !important;
}

.navigationBox {
	display: flex;
	align-items: center;
}

.navigation {
	display: flex;
	align-items: center;
	gap: $space-16;
	margin-right: $space-64;
}

.link {
	position: relative;

	&::before {
		position: absolute;
		left: 0;
		bottom: -2px;
		content: '';
		height: 1px;
		width: 100%;
		transform: scaleX(0);
		will-change: transform;
		background: var(--content-color);
		transform-origin: right center;
		transition: transform 0.5s cubic-bezier(1, 0, 0, 1);
	}

	&:hover {
		&::before {
			transform: scaleX(1);
			transform-origin: left center;
		}
	}
}

.activeLink {
	&::before {
		transform: scaleX(1);
	}
}

@media (max-width: $tablet) {
	.header {
		padding: $space-24 $space-16;
	}

	.navigation {
		margin-right: $space-32;
	}
}
