@import '../base/variables';
@import '../base/mixins';

.header {
	padding: $space-24 $space-40;
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media (max-width: $tablet) {
		padding: $space-24 $space-16;
	}
}

.logo {
	// Styles Go Here
}

.navigationBox {
	display: flex;
	align-items: center;
}
