@import '../base/variables';

.jumpLinks {
	position: fixed;
	top: 50%;
	transform: translateY(-50%) rotate(-90deg);
	right: -114px;
	gap: $space-32;
	width: 300px;
	display: none;
	opacity: 0;
	will-change: opacity;
}

@media (min-width: $desktop-lg) {
	.jumpLinks {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.link {
	position: relative;

	span {
		font-size: 22px;
	}
}
