@import '../base/variables';

$ns: '.rich-text';

#{$ns} {
	p {
		margin: $space-24 0;
		font-size: 20px;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}

		@media (max-width: $tablet) {
			font-size: 16px;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: $space-40;
		margin-bottom: $space-20;

		&:first-child {
			margin-top: 0;
		}

		@media (max-width: $tablet) {
			margin-top: $space-20;
			margin-bottom: $space-10;
		}
	}

	ul {
		list-style: disc;
		margin-bottom: $space-16;
		padding-left: $space-24;

		@media (max-width: $tablet) {
			margin-bottom: $space-12;
			padding-left: $space-16;
		}
	}

	ol {
		list-style: decimal;
		margin-bottom: $space-16;
		padding-left: $space-24;

		@media (max-width: $tablet) {
			margin-bottom: $space-12;
			padding-left: $space-16;
		}
	}

	li {
		line-height: 1.8;
		font-size: 20px;
		color: var(--content-color-2);

		@media (max-width: $tablet) {
			font-size: 16px;
		}
	}

	blockquote {
		border-left: 4px solid var(--line-color);
		color: var(--content-color-2);
		font-style: italic;
		margin-bottom: $space-16;
		padding-left: $space-24;

		@media (max-width: $tablet) {
			margin-bottom: $space-12;
			padding-left: $space-16;
		}
	}

	hr {
		border-top: 1px solid var(--line-color);
		margin: $space-32 0;
	}

	&__table-wrapper {
		width: 100%;
		overflow-x: auto;
		margin: $space-24 0;
		-webkit-overflow-scrolling: touch;

		table {
			margin: 0;
			background-color: var(--background-secondary-color);
			border-radius: 8px;
			padding: $space-16;
			border-collapse: collapse;
			width: 100%;
		}
	}

	th,
	td {
		text-align: left;
		padding: $space-12;

		p {
			font-size: 18px;

			@media (max-width: $tablet) {
				font-size: 16px;
			}
		}
	}
}
