@import '../base/variables';

.richText {
	p {
		margin: $space-16 0; // 16px spacing between paragraphs


		&:first-child {
			margin-top: 0; // Remove margin from first paragraph
		}

		&:last-child {
			margin-bottom: 0; // Remove margin from last paragraph
		}
	}

	// Add spacing for other elements too
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: $space-32 0;

		&:first-child {
			margin-top: 0;
		}
	}

	ul {
		list-style: disc;
		margin-bottom: $space-16;
		padding-left: $space-24;
	}

	ol {
		list-style: decimal;
		margin-bottom: $space-16;
		padding-left: $space-24;
	}

	blockquote {
		border-left: 4px solid var(--line-color);
		color: var(--content-color-2);
		font-style: italic;
		margin-bottom: $space-16;
		padding-left: $space-24;
	}

	hr {
		border-top: 1px solid var(--line-color);
		border: none;
		margin: $space-16;
	}
}
