$ns: '.about-section';

#{$ns} {
	background-color: $black;

	&__inner {
		@include section-style($white, $black);

		padding: 0 !important;
	}

	&__content {
		display: flex;
		position: relative;
		justify-content: end;

		&-inner {
			padding: 10rem 0;
			max-width: 95rem;

			@include at-laptop {
				padding: 15rem 0;
			}
		}
	}

	&__items {
		display: flex;
		flex-direction: column;
	}

	&__item-divider {
		position: relative;
		color: inherit;

		svg {
			height: 150;
		}

		path {
			fill: none;
			stroke: currentcolor;
			stroke-width: 1;
		}
	}

	&__item-text {
		display: flex;
		flex-direction: column;
		gap: 5rem;
		max-width: 800px;

		@include at-laptop {
			display: grid;
			grid-template-columns: 300px 4fr;
		}
	}

	&__item-description {
		font-size: 2.2rem;
		line-height: 1.2;
	}

	&__cta-container {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}

	&__cta-title {
		margin-bottom: 10rem;
	}

	&__cta {
		.button {
			width: 222px;
		}

		&:not(:first-child) {
			margin-top: 2rem;
		}
	}
}
