$ns: '.blogs-section';

#{$ns} {
	background-color: $black;

	&__inner {
		@include section-style($white, $black);

		position: relative;
	}

	&__content {
		position: relative;
	}

	&__title {
		span {
			display: block;
		}

		i {
			@include at-tablet {
				margin-left: 10rem;
			}
		}
	}

	&__blogs {
		margin-top: 10rem;

		@include at-tablet {
			margin-top: 15rem;
		}

		.swiper {
			overflow: visible;
		}
	}

	&__blog {
		color: $black;
		margin-top: 10rem;
		transition: all 0.5s ease-out;

		&:hover {
			#{$ns}__blog-image {
				transform: scale(0.98);

				img {
					transform: scale(1.05);
				}
			}
		}

		&-image {
			@include aspect-ratio-media(472, 266);

			transition: transform 0.5s ease-out;
			border-radius: 2.5rem;
			width: 100%;
			overflow: hidden;

			img {
				display: block;
				transition: transform 0.5s ease-out;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&-content {
			margin-top: 2.7rem;
			font-size: 2.4rem;
			line-height: 1.3;
			letter-spacing: 0.1rem;

			small {
				font-weight: 300;
			}
		}
	}

	&__cta {
		display: flex;
		justify-content: end;
		margin-top: 5rem;
		max-width: 95rem;
		position: relative;
		right: 0;

		@include at-tablet {
			margin-top: 10rem;
		}
	}
}
