$ns: '.hero-section';

#{$ns} {
	background-color: $white;
	color: $black;
	height: calc(100vh - #{$site-header-height});
	width: 100%;
	position: fixed;
	top: $site-header-height;

	+ * {
		margin-top: calc(100vh - #{$site-header-height});	
	}
	
	&__inner {
		padding: 10rem
	}

	&__title {
		z-index: 2;
		max-width: 900px;

		.first-row,
		.second-row {
			display: block;
			padding-bottom: 0.8rem;
			overflow: hidden;

			span {
				display: inline-block;

				&.highlight {
					color: $gray-400;
				}
			}
		}
	}

	&__cta {
		z-index: 1;
		margin-top: 7rem;
		overflow-y: hidden;
	}
}
