$ns: '.hero-section';

#{$ns} {
	background-color: $white;
	height: 68rem;
	min-height: 50vh;

	&__inner {
		@include section-style($white, $black);
	}

	&__title {
		z-index: 2;
		max-width: 900px;

		.first-row,
		.second-row {
			display: block;
			padding-bottom: 0.7rem;
			overflow: hidden;

			span {
				display: inline-block;
			}
		}
	}

	&__cta {
		z-index: 1;
		margin-top: 7rem;
		overflow-y: hidden;
	}
}
