$ns: '.hero-section';

#{$ns} {
	height: 68rem;
	padding-top: 10rem;

	&__title {
		max-width: 900px;
		z-index: 2;

		.first-row,
		.second-row {
			display: block;
			overflow: hidden;
			padding-bottom: 0.5rem;

			span {
				display: inline-block;
			}
		}
	}

	&__cta {
		z-index: 1;
	}
}
