$ns: '.skills-section';

#{$ns} {
	position: relative;
	width: 100%;
	height: 500px;

	@include at-laptop {
		padding: 0 100px;
	}

	.container {
		position: relative;
		width: 100%;
		height: 100%;
	}

	&__container {
		position: relative;
		width: 100%;
		height: 100%;
	}

	&__content {
		display: inline-flex;
		position: absolute;
		right: 0;
		justify-content: space-between;
		align-items: center;
		will-change: transform, max-width;
		border-radius: 500px;
		background-color: $white;
		width: 100%;
		min-width: 500px;
		height: 500px;
		color: $black;
	}

	&__anchor {
		position: absolute;
		top: -200px;
		left: 50%;
		opacity: 0;
		width: 0;
		height: 0;
		pointer-events: none;
	}
}
