@import '../../base/variables';

$ns: '.article-grid-section';

#{$ns} {
	display: block;
	padding: 40px 0;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 40px;
	}

	&__controls {
		display: flex;
		gap: 16px;
	}

	&__control-button {
		align-items: center;
		background-color: transparent;
		border-radius: 4px;
		border: none;
		cursor: pointer;
		display: flex;
		justify-content: center;
		padding: 8px;
		transition: 200ms ease;

		&:hover {
			box-shadow: 0 0 0 1px var(--line-color);
		}

		&--active {
			background-color: var(--background-secondary-color);
		}
	}

	&__article-list {
		&--list {
			display: flex;
			flex-direction: column;
			gap: 40px;
		}

		&--grid {
			display: grid;
			grid-template-columns: 1fr;
			gap: 40px;

			@media (min-width: $tablet) {
				grid-template-columns: repeat(2, 1fr);
				gap: 32px;
			}

			@media (min-width: $desktop) {
				grid-template-columns: repeat(3, 1fr);
			}
		}
	}
}
