@import '../../base/variables';

.articleGridSection {
	display: block;
	padding: $space-40 0;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: $space-40;
}

.controls {
	display: flex;
	gap: $space-16;
}

.controlButton {
	align-items: center;
	background-color: transparent;
	border-radius: $space-4;
	border: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	padding: $space-8;
	transition: 200ms ease;
	
	&:hover {
			box-shadow: 0 0 0 1px var(--line-color);
	}

	&.active {
		background-color: var(--background-secondary-color);
	}
}

.articleList {
	&.list {
		display: flex;
		flex-direction: column;
		gap: $space-40;
	}

	&.grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: $space-30;
	}
}

@media (max-width: $tablet) {
	.articleList {
		&.grid {
			grid-template-columns: repeat(1, 1fr);
			gap: $space-40;
		}
	}
}
