@import '../../base/variables';

.articleGridSection {
	display: block;
	padding: $space-40 0;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: $space-20;
}

.controls {
	display: flex;
	gap: $space-16;
}

.controlButton {
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	padding: $space-8;
	border-radius: $space-4;
	transition: 200ms ease;
	
	&:hover {
			box-shadow: 0 0 0 1px var(--line-color);
	}

	&.active {
		background-color: var(--background-secondary-color);
	}
}
