@import '../../base/variables';

$ns: '.blog-post-section';

#{$ns} {
	padding: $space-120 0 $space-40;
	opacity: 0;
	will-change: opacity;

	&__header {
		margin-bottom: $space-40;
	}

	&__link-box {
		display: flex;
		align-items: center;
		height: $space-24;
		width: fit-content;
		margin-bottom: $space-40;

		&:hover {
			#{$ns}__link {
				&::before {
					transform: scaleX(0);
					transform-origin: right center;
				}
			}

			svg {
				transform: translateX(-4px);
			}
		}
	}

	&__link {
		display: flex;
		align-items: center;
		position: relative;

		&::before {
			position: absolute;
			left: 0;
			bottom: -4px;
			content: '';
			height: 1px;
			width: 100%;
			transform: scaleX(1);
			will-change: transform;
			background: var(--content-color);
			transform-origin: left center;
			transition: transform 0.5s cubic-bezier(1, 0, 0, 1);
		}
	}

	&__icon {
		margin-right: $space-8;
		margin-left: 0;
		width: $space-24;
		transition: 0.2s ease;
	}

	&__author {
		align-items: center;
		display: flex;
		gap: $space-16;

		h5 {
			margin-bottom: $space-6;
		}
	}

	&__hero-image {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			max-height: 686px;
			aspect-ratio: auto 1440 / 686;
			border-radius: 10px;
		}
	}

	@media (max-width: $mobile-lg) {
		&__hero-image {
			img {
				max-height: 250px;
			}
		}
	}

	&__layout {
		margin-top: $space-40;
		display: grid;
		grid-template-columns: 70% 30%;

		@media (max-width: $tablet) {
			display: flex;
			flex-direction: column-reverse;
		}
	}

	&__blog-body {
		margin-bottom: $space-120;

		@media (max-width: $tablet) {
			margin-bottom: $space-40;
		}
	}

	&__share-actions {
		display: flex;
		align-items: start;
		justify-content: end;
		gap: $space-16;
		margin-bottom: $space-64;

		@media (max-width: $tablet) {
			justify-content: start;
			margin-bottom: $space-40;
		}
	}

	&__share-button,
	&__share-copy-button {
		display: flex;
		align-items: center;
		justify-content: center;
		white-space: nowrap;
		color: var(--content-color);
		border: 1px solid var(--line-color);
		border-radius: 50%;
		width: 43px;
		height: 43px;
		transition: all 0.2s ease;

		&:hover {
			border-color: var(--content-color);
		}
	}

	&__share-copy-button {
		border-radius: 100px;
		gap: $space-8;
		padding: 0 15px;
		font-weight: 500;
		font-size: 14px;
		width: 128px;
	}
}
