@import '../../base/variables';

$ns: '.blog-section';

#{$ns} {
	min-height: 100lvh;
	padding: calc($header-height + 50px) 0 0;

	&__grid {
		display: grid;
		grid-template-columns: 300px 1fr;
		gap: 30px;

		@media (max-width: $tablet) {
			grid-template-columns: 1fr;
		}
	}

	&__filters-column {
		align-self: stretch;
	}

	&__filters {
		display: flex;
		flex-direction: column;
		gap: 20px;
		align-self: start;

		@media (max-width: $tablet) {
			display: none;
		}
	}

	&__title {
		line-height: 1;
		text-align: center;
		margin-bottom: 100px;
		z-index: 1;
		position: relative;
		will-change: opacity, transform;

		@media (max-width: $tablet) {
			margin-bottom: 75px;
		}

		span {
			color: var(--neutral-50);
		}
	}

	&__word-mask {
		display: inline-block;
		overflow: hidden;
		position: relative;
		vertical-align: bottom;
	}

	&__word {
		display: inline-block;
	}

	&__char {
		display: inline-block;
		will-change: transform;
		transform: translateY(110%);
	}

	&__tag-filters {
		will-change: opacity, transform;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
		position: relative;
		margin-bottom: 50px;
		flex-wrap: wrap;

		@media (max-width: $tablet) {
			margin-bottom: 25px;
		}

		button {
			white-space: nowrap;
			text-transform: lowercase;
			border-width: 1px;
		}

		@media (max-width: $tablet) {
			justify-content: start;
		}
	}

	&__post-list {
		display: grid;
		grid-template-columns: 1fr;
		gap: 40px;

		@media (min-width: $tablet) {
			grid-template-columns: repeat(2, 1fr);
			gap: 32px;
		}

		@media (min-width: $desktop) {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	&__post-item {
		will-change: opacity, transform;
	}
}
