@import '../../base/variables';

.blogSection {
	min-height: 100lvh;
	margin-top: $header-height;
	padding: 50px 0;
}

.grid {
	display: grid;
	grid-template-columns: 300px 1fr;
	gap: 30px;
}

@media (max-width: $tablet) {
	.grid {
		grid-template-columns: 1fr;
	}
}

.filtersColumn {
	align-self: stretch;
}

.filters {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-self: start;
}

@media (max-width: $tablet) {
	.filters {
		display: none;
	}
}

.title {
	line-height: 1;
	text-align: center;
	margin-bottom: 50px;
	z-index: 1;
	position: relative;

	strong {
		font-weight: 700;
	}

	em {
		color: var(--content-color-2);
		font-weight: 600;
	}
}

.tagFilters {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	position: relative;
	margin-bottom: 50px;
	flex-wrap: wrap;

	button {
		white-space: nowrap;
		text-transform: lowercase;
	}
}

@media (max-width: $tablet) {
	.tagFilters {
		justify-content: start;
	}
}

.postList {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
}

@media (max-width: $tablet) {
	.postList {
		grid-template-columns: repeat(1, 1fr);
	}
}
