@import '../../base/variables';

.blogSection {
	min-height: 100lvh;
	margin-top: $header-height;
	padding: $space-140 0;
}

.title {
	line-height: 1;
	text-align: center;
	margin-bottom: $space-80;

	strong {
		font-weight: 700;
	}

	em {
		color: var(--content-color-2);
		font-weight: 600;
	}
}

.postList {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
}

@media (max-width: $tablet) {
	.postList {
		grid-template-columns: repeat(1, 1fr);
	}
}

.tagList {
	display: flex;
	flex-wrap: wrap;
	gap: 14px;
	margin-bottom: $space-40;
}

.tag {
	padding: $space-12 $space-24;
	border-radius: 100px;
	text-transform: uppercase;
	font-weight: 500;
	transition: all 0.2s ease;
	font-size: 16px;
	background-color: transparent;
	color: var(--content-color);
	position: relative;
	border: 1px solid var(--content-color);
	
	&:hover {
		opacity: 0.8;
	}
}

.clearTagsButton {
	border-radius: 50%;
	width: $space-40;
	height: $space-40;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;

	svg {
		fill: var(--background-primary-color);
	}
}

.active {
	background-color: var(--content-color);
	color: var(--background-primary-color);
}

.closeIcon {
	width: 12px;
	height: 12px;
}
