@import '../../base/variables';

.blog-section {
	min-height: 100lvh;
	padding: calc($header-height + 50px) 0;

	.grid {
		display: grid;
		grid-template-columns: 300px 1fr;
		gap: 30px;

		@media (max-width: $tablet) {
			grid-template-columns: 1fr;
		}
	}

	.filters-column {
		align-self: stretch;
	}

	.filters {
		display: flex;
		flex-direction: column;
		gap: 20px;
		align-self: start;

		@media (max-width: $tablet) {
			display: none;
		}
	}

	.title {
		line-height: 1;
		text-align: center;
		margin-bottom: 50px;
		z-index: 1;
		position: relative;
		will-change: opacity, transform;

		strong {
			font-weight: 700;
		}

		em {
			color: var(--content-color-2);
			font-weight: 600;
		}
	}

	.word-mask {
		display: inline-block;
		overflow: hidden;
		position: relative;
		vertical-align: bottom;
	}

	.word {
		display: inline-block;
	}

	.char {
		display: inline-block;
		will-change: transform;
		transform: translateY(110%);
	}

	.tag-filters {
		will-change: opacity, transform;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
		position: relative;
		margin-bottom: 50px;
		flex-wrap: wrap;

		button {
			white-space: nowrap;
			text-transform: lowercase;
		}

		@media (max-width: $tablet) {
			justify-content: start;
		}
	}

	.post-list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 30px;

		@media (max-width: $tablet) {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	.post-item {
		will-change: opacity, transform;
	}
}
