@import '../../base/variables';

$ns: '.contact-section';

#{$ns} {
	border-top: 1px solid var(--line-color);
	position: relative;
	margin-top: 140px;

	@media (max-width: $tablet) {
		margin-top: 100px;
	}

	&__box {
		padding: 120px 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__title {
		text-align: center;
		max-width: 850px;
		margin: 0 auto;
	}

	&__copy-button {
		margin-top: 64px;
	}

	&__copy-icon {
		display: block;
		width: 28px;
		height: 28px;
		flex-shrink: 0;
	}

	&__social-links {
		display: flex;
		align-items: center;
		gap: 56px;
		margin-top: 32px;

		a {
			transition: opacity 0.2s ease;
		}

		a:hover {
			opacity: 0.8;
		}
	}

	&__icon {
		width: 32px;
		height: 32px;
	}
}
