@import '../../base/variables';

.experienceSection {
	display: block;
	padding: 200px 0;
}

.box {
	padding: $space-40 0;
}

.title {
	// font-size: 100px;
	margin: 0 auto $space-140;
	opacity: 0;
}

.experienceList {
	display: flex;
	flex-direction: column;
	gap: $space-140;
	align-items: center;
	position: relative;
}

.info {
	width: 100%;

	.jobTitle {
		color: var(--content-color);
		font-weight: 500;
		line-height: 1;
		margin-bottom: $space-8;
	}

	.company {
		line-height: 1;
		margin-bottom: $space-16;
	}
}

.experienceItem {
	display: flex;
	gap: $space-40;
	opacity: 0;
	position: relative;
	z-index: 1;

	&:last-child {
		.info {
			padding-bottom: 0;
		}
	}
}

.progressBar {
	position: absolute;
	width: 3px;
	z-index: 0;
	pointer-events: none;

	@media (max-width: $tablet) {
		display: none;
	}
}

.progressBarInner {
	width: 100%;
	height: 100%;
	background-color: var(--content-color);
	transform-origin: top;
	transform: scaleY(0);
}

.countNumber {
	background-color: var(--background-primary-color);

	@media (min-width: $tablet) {
		padding: $space-24 0;
		transform: translateY(-$space-24);
	}
}

.yearRange {
	white-space: nowrap;

	div {
		line-height: 1;
	}
}

@media (max-width: $tablet) {
	.experienceItem {
		flex-direction: column;
	}

	.yearRange {
		margin-bottom: $space-8;
	}
}

.description {
	max-width: 950px;
}
