@import '../../base/variables';

.experienceSection {
	display: block;
}

.box {
	border-bottom: 1px solid var(--line-color);
	padding: $space-40 0;
}

.experienceList {
	display: block;
}

.info {
	max-width: 600px;
	padding-bottom: $space-32;
	width: 100%;

	h3 {
		line-height: 1;
	}
}

.experienceItem {
	display: flex;
	justify-content: space-between;
	padding-top: $space-32;

	&:not(:last-child) {
		.info {
			border-bottom: 1px solid var(--line-color);
		}
	}

	&:last-child {
		.info {
			padding-bottom: 0;
		}
	}
}

.yearRange {
	white-space: nowrap;
}

@media (max-width: $tablet) {
	.experienceItem {
		flex-direction: column;
	}

	.yearRange {
		margin-bottom: $space-8;
	}
}
