@import '../../base/variables';

.experienceSection {
	display: block;
}

.box {
	border-bottom: 1px solid var(--line-color);
	padding: $space-40 0;
}

.experienceList {
	display: block;
	position: relative;
	padding-left: 2rem; // Space for the progress bar
}

.progressBar {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 2px;
	background-color: rgb(128 128 128 / 20%); // Light background track
	overflow: hidden;
}

.progressFill {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	background: var(--content-color);
	transition: height 0.1s ease-out;
	box-shadow: 0 0 10px var(--content-color); // Add a glow effect
}

.info {
	max-width: 600px;
	padding-bottom: $space-32;
	width: 100%;

	.title {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p {
			line-height: 1;
			margin-bottom: $space-16;
		}
	}

	.company {
		margin-bottom: $space-16;
	}
}

.experienceItem {
	display: flex;
	justify-content: space-between;
	padding-top: $space-32;
	padding-bottom: 128px;

	// &:not(:last-child) {
	// 	.info {
	// 		border-bottom: 1px solid var(--line-color);
	// 	}
	// }

	&:last-child {
		.info {
			padding-bottom: 0;
		}
	}
}

.yearRange {
	white-space: nowrap;
}

@media (max-width: $tablet) {
	.experienceItem {
		flex-direction: column;
	}

	.yearRange {
		margin-bottom: $space-8;
	}
}
