@import '../../base/variables';

.section {
	padding: $space-40 0;
	position: relative;
}

.stickyBox {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: sticky;
	text-align: center;
	top: 0;
	height: 100vh;
	z-index: -1;
}

.title {
	opacity: 0;
}

.subtitle {
	opacity: 0;
	color: var(--content-color-2);
}

.articleList {
	max-width: 1200px;
	margin: 0 auto;
}

.articleContainer {
	height: 100vh;
	display: flex;
	align-items: start;
	justify-content: center;
	position: relative;

	&.left {
		justify-content: start;
	}

	&.right {
		justify-content: flex-end;
	}

	&:first-child {
		margin-top: 100vh;
	}

	&:last-child {
		height: 200vh;
	}
}

@media (max-width: $tablet) {
	.articleCard {
		justify-content: center !important;
	}
}

.articleImage {
	img {
		aspect-ratio: 450 / 550;
		width: 100%;
		height: 100%;
		object-fit: cover;
		max-width: 450px;
		transition: all 0.2s ease;
		transform: scale(1.05);
	}
}

.articleContent {
	position: absolute;
	inset: 0;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	padding: $space-40;
	transition: all 0.2s ease;
	transform: translateY(5px);
	opacity: 0;
	visibility: hidden;
}

.articleCard {
	border-radius: 20px;
	overflow: hidden;
	position: relative;
	z-index: 1;

	&:hover {
		.articleImage {
			img {
				filter: blur(3px) grayscale(50%) brightness(0.5);
			}
		}

		.articleContent {
			transform: translateY(0);
			opacity: 1;
			visibility: visible;
		}
	}
}

.articleTitle {
	font-weight: 500;

	[data-theme='light'] & {
		color: var(--background-secondary-color);
	}
}

.articleDescription {
	color: var(--content-color-2);
	font-weight: 500;

	[data-theme='light'] & {
		color: var(--background-secondary-color);
	}
}

.articleLink {
	margin-top: auto;

	[data-theme='light'] & {
		background-color: var(--background-primary-color);
		color: var(--content-color);
	}

	&:hover {
		[data-theme='light'] & {
			background-color: var(--background-secondary-color);
		}
	}
}
