@import '../../base/variables';

.featuredArticlesSection {
	padding: $space-40 0;
}

.container {
	position: relative;
}

.stickyContent {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: sticky;
	text-align: center;
	top: 0;
	height: 100vh;
	z-index: -1;
}

.articleList {
	max-width: 1200px;
	margin: 0 auto;
}

.articleCard {
	height: 100vh;
	display: flex;
	align-items: start;
	justify-content: center;

	&.left {
		justify-content: start;
	}

	&.right {
		justify-content: flex-end;
	}

	&:first-child {
		margin-top: 100vh;
	}

	&:last-child {
		height: 200vh;
	}
}

@media (max-width: $tablet) {
	.articleCard {
		justify-content: center !important;
	}
}

.articleImage {
	img {
		aspect-ratio: 450 / 550;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 20px;
		max-width: 450px;
	}
}
