@import '../../base/variables';

$ns: '.featured-articles-section';

#{$ns} {
	position: relative;

	@mixin card-active-state {
		#{$ns}__image {
			img {
				filter: blur(3px) grayscale(50%) brightness(0.5);

				[data-theme='light'] & {
					filter: blur(3px) grayscale(10%) brightness(1.1);
					opacity: 0.3;
				}
			}
		}

		#{$ns}__content {
			transform: translateY(0);
			opacity: 1;
			visibility: visible;
		}
	}

	&__sticky-box {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		height: 100lvh;
	}

	&__title {
		opacity: 0;
	}

	&__subtitle {
		opacity: 0;
		color: var(--content-color-2);
	}

	&__list {
		max-width: 1200px;
		margin: 0 auto;
		padding: 50lvh 0;
	}

	&__container {
		height: 100lvh;
		display: flex;
		align-items: start;
		justify-content: center;
		position: relative;

		&.left {
			justify-content: start;
		}

		&.right {
			justify-content: flex-end;
		}
	}

	@media (max-width: $tablet) {
		&__card {
			justify-content: center !important;
		}
	}

	&__image {
		img {
			aspect-ratio: 450 / 500;
			width: 100%;
			height: 100%;
			object-fit: cover;
			max-width: 450px;
			transition: all 0.4s ease;
			transform: scale(1.05);
		}
	}

	&__content {
		position: absolute;
		inset: 0;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		padding: $space-40;
		transition: all 0.4s ease-out;
		transform: translateY($space-20);
		opacity: 0;
		visibility: hidden;
	}

	&__card {
		border-radius: $space-20;
		overflow: hidden;
		position: relative;
		z-index: 1;
		background-color: var(--background-primary-color);

		@media (min-width: $tablet + 1px) {
			&:hover {
				@include card-active-state;
			}
		}

		@media (max-width: $tablet) {
			&.active {
				@include card-active-state;
			}
		}
	}

	&__card-title {
		font-size: 45px;
		font-weight: 500;
		margin-bottom: $space-20;

		@media (max-width: $tablet) {
			font-size: 32px;
		}
	}

	&__caption {
		color: var(--content-color-2);
		font-size: 24px;
		font-weight: 500;
		margin-bottom: 12px;

		@media (max-width: $tablet) {
			font-size: 18px;
		}
	}

	&__description p {
		color: var(--content-color);
	}

	&__link {
		margin-top: auto;
	}
}
