@import '../../base/variables';

.heroCubeSection {
	position: relative;
	z-index: 10;
}

.stickyBox {
	height: 100svh;
	width: 100%;
	opacity: 0;
	overflow: hidden;
	will-change: opacity;
	backface-visibility: hidden;
}

.canvas {
	border-bottom: 3px solid var(--content-color);
}

.scrollToExplore {
	display: inline-flex;
	align-items: center;
	gap: 8px;
	justify-content: center;
	transform: rotate(90deg);
	transform-origin: left top;
	position: absolute;
	top: 100px;
	left: 45px;
	opacity: 0;
	will-change: opacity;
	letter-spacing: 0.05em;
	font-weight: 500;
}

.arrowRightIcon {
	height: 20px;
}

@media (max-width: $tablet) {
	.scrollToExplore {
		font-size: 12px;
		left: 25px;
		top: 75px;

		// transform: rotate(0deg) translateX(-50%);
		// transform-origin: center top;

		// left: 50%;
		// display: flex;
		// flex-direction: column;
		// align-items: center;
		// justify-content: center;
	}

	.arrowRightIcon {
		height: 16px;

		// transform: rotate(90deg);
	}
}
