@import '../../base/variables';
@import '../../base/mixins';

.heroSection {
	display: block;
}

.box {
	border-bottom: 1px solid var(--line-color);
	display: flex;
	justify-content: space-between;
	padding-bottom: $space-40;
}

.info {
	width: 100%;
	max-width: 600px;

	p {
		font-size: 14px !important;
	}
}

.link {
	margin-bottom: $space-24;
}

@media (max-width: $tablet) {
	.box {
			flex-direction: column;
			gap: $space-16;
	}

	.link {
			margin-bottom: $space-32;
	}
}
