@import '../../base/variables';

.section {
	position: relative;
}

.box {
	height: 100vh;
}

.stickyBox {
	margin: 0 auto;
	max-width: 1000px;
	width: 100%;
	transform-origin: top center;
	will-change: transform, opacity;
	backface-visibility: hidden;
	padding-top: $space-120;
	position: sticky;
	top: 100px;
	z-index: 1;
}

.title {
	margin-bottom: $space-20;
	overflow: hidden;
	text-align: center;
	text-transform: uppercase;
}

.subtitle {
	align-items: center;
	display: flex;
	gap: $space-10;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 500px;
	text-transform: uppercase;
	font-weight: 600;
	will-change: opacity;
	opacity: 0;

	@media (max-width: $tablet) {
		flex-direction: column;
		text-align: center;
	}
}

.leftSubtitle,
.rightSubtitle {
	max-width: 250px;
}

.wordMask {
	display: inline-block;
	overflow: hidden;
	position: relative;
}

.word {
	display: inline-block;
	will-change: transform, opacity;
	transform: translateY(110%);
}

.scrollToExplore {
	display: inline-flex;
	align-items: center;
	gap: $space-8;
	justify-content: center;
	transform: rotate(90deg);
	transform-origin: left top;
	position: fixed;
	bottom: 200px;
	left: 45px;
	opacity: 0;
	will-change: opacity;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

.arrowRightIcon {
	height: 20px;
}
