@import '../../base/variables';

.heroImageSection {
	margin: 0;
}

.image {
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		max-height: 686px;
		aspect-ratio: auto 1440 / 686;
	}
}

@media (max-width: $mobile-lg) {
	.image {
		// max-height: 250px;
		img {
			max-height: 250px;
		}
	}
}
