@import '../../base/variables';

.marqueeSection {
	display: block;
	padding: 30lvh 0;
	overflow: hidden;
}

.title {
	color: var(--content-color-2);
}

.marquee {
	display: flex;
	width: 100%;
	overflow: hidden;
	user-select: none;

	// Gradient mask for fade effect on edges
	mask-image: linear-gradient(
		to right,
		transparent,
		black 10%,
		black 90%,
		transparent
	);

	// Spacing between rows
	&:not(:last-child) {
		margin-bottom: $space-40;
	}

	&.reverse .track {
		animation-direction: reverse;
	}
}

.track {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	gap: $space-80;
	padding-right: $space-80; // Ensure equal spacing between the end of first track and start of second
	min-width: 100%;
	will-change: transform;
}

.item {
	display: flex;
	align-items: center;
	gap: $space-80;
}

.text {
	font-weight: 700;
	white-space: nowrap;
	line-height: 1;
	font-size: 15rem;
	color: var(--content-color);

	&.outline {
		color: transparent;
		-webkit-text-stroke: 2px var(--content-color);
	}
}

.delimiter {
	font-size: 2rem;
	font-weight: 500;
	color: var(--content-color-2);
	white-space: nowrap;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

@media (max-width: $tablet) {
	.item {
		gap: $space-20;
	}

	.text {
		font-size: 7.5rem;
	}

	.delimiter {
		font-size: 1rem;
	}
}
