@import '../../base/variables';

$ns: '.social-section';

#{$ns} {
	display: block;

	&__box {
		padding: 40px 0;
		display: flex;
		justify-content: space-between;

		@media (max-width: $tablet) {
			flex-direction: column;
		}
	}

	&__social-list {
		display: flex;
		flex-direction: column;
		gap: 24px;
		max-width: 600px;
		width: 100%;

		@media (max-width: $tablet) {
			gap: 16px;
			padding-top: 32px;
		}
	}

	&__social-item {
		display: flex;
		align-items: center;
		gap: 8px;

		@media (max-width: $tablet) {
			gap: 16px;
		}
	}
}
