@import '../../base/variables';

.socialSection {
	display: block;
}

.box {
	padding: $space-40 0;
	display: flex;
	justify-content: space-between;
}

.socialList {
	display: flex;
	flex-direction: column;
	gap: $space-24;
	max-width: 600px;
	width: 100%;
}

.socialItem {
	display: flex;
	align-items: center;
	gap: $space-8;
}

@media (max-width: $tablet) {
	.box {
		flex-direction: column;
	}

	.socialList {
		gap: $space-16;
		padding-top: $space-32;
	}

	.socialItem {
		gap: $space-16;
	}
}
