@import '../../base/variables';

.textRevealSection {
	display: block;
	padding: $space-120 0;
}

.textBlocks {
	position: relative;
}

.textBlockWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	will-change: opacity;
}
