.featured-projects-section {
  position: relative;
}
.featured-projects-section__sticky-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100lvh;
}
.featured-projects-section__title {
  opacity: 0;
  position: relative;
}
.featured-projects-section__subtitle {
  opacity: 0;
  color: var(--content-color-2);
  font-weight: 600;
}
.featured-projects-section__list {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50lvh 0;
}
.featured-projects-section__container {
  height: 100lvh;
  display: flex;
  align-items: start;
  justify-content: center;
  position: relative;
}
.featured-projects-section__container.left {
  justify-content: start;
}
.featured-projects-section__container.right {
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .featured-projects-section__card {
    justify-content: center !important;
  }
}
.featured-projects-section__image img {
  aspect-ratio: 450/500;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 450px;
  transition: all 0.4s ease;
  transform: scale(1.05);
}
.featured-projects-section__content {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 40px;
  transition: all 0.4s ease-out;
  transform: translateY(20px);
  opacity: 0;
  pointer-events: none;
}
.featured-projects-section__card {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-color: var(--background-primary-color);
}
@media (min-width: 769px) {
  .featured-projects-section__card:hover .featured-projects-section__image img, .featured-projects-section__card:focus-within .featured-projects-section__image img {
    filter: blur(3px) grayscale(50%) brightness(0.5);
  }
  [data-theme=light] .featured-projects-section__card:hover .featured-projects-section__image img, [data-theme=light] .featured-projects-section__card:focus-within .featured-projects-section__image img {
    filter: blur(3px) grayscale(10%) brightness(1.1);
    opacity: 0.3;
  }
  .featured-projects-section__card:hover .featured-projects-section__content, .featured-projects-section__card:focus-within .featured-projects-section__content {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }
}
@media (max-width: 768px) {
  .featured-projects-section__card.active .featured-projects-section__image img, .featured-projects-section__card:focus-within .featured-projects-section__image img {
    filter: blur(3px) grayscale(50%) brightness(0.5);
  }
  [data-theme=light] .featured-projects-section__card.active .featured-projects-section__image img, [data-theme=light] .featured-projects-section__card:focus-within .featured-projects-section__image img {
    filter: blur(3px) grayscale(10%) brightness(1.1);
    opacity: 0.3;
  }
  .featured-projects-section__card.active .featured-projects-section__content, .featured-projects-section__card:focus-within .featured-projects-section__content {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }
}
.featured-projects-section__card-title {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .featured-projects-section__card-title {
    font-size: 32px;
  }
}
.featured-projects-section__caption {
  color: var(--content-color-2);
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 12px;
}
@media (max-width: 768px) {
  .featured-projects-section__caption {
    font-size: 18px;
  }
}
.featured-projects-section__description p {
  color: var(--content-color);
}
.featured-projects-section__link {
  margin-top: auto;
}

/*# sourceMappingURL=featured-projects-section.css.map */
