html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  vertical-align: baseline;
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
button,
input,
select,
textarea {
  cursor: pointer;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  padding: 0;
}

:root {
  --content-color: #111316;
  --content-color-2: #2e3238;
  --background-primary-color: #fff;
  --background-secondary-color: #f4f4f4;
  --background-primary-color-rgb: 255, 255, 255;
  --background-secondary-color-rgb: 244, 244, 244;
  --line-color: #d4d4d4;
  --blue-color: #e5edff;
  --green-color: #d0fbd0;
  --yellow-color: #fff4cc;
  --red-color: #fcc;
}

[data-theme=dark] {
  --content-color: #fff;
  --content-color-2: #c8c8c8;
  --background-primary-color: #111316;
  --background-secondary-color: #272727;
  --background-primary-color-rgb: 17, 19, 22;
  --background-secondary-color-rgb: 39, 39, 39;
  --line-color: #424345;
  --blue-color: #4c6bb9;
  --green-color: #4cb84e;
  --yellow-color: #b7a14e;
  --red-color: #b74d4e;
}

[data-theme=dark] [data-hide-on-theme=dark],
[data-theme=light] [data-hide-on-theme=light] {
  display: none;
}

html {
  box-sizing: border-box;
  scrollbar-gutter: stable;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--background-primary-color);
  color: var(--content-color);
  font-family: "Poppins", sans-serif;
  transition: color 0.5s ease, background-color 0.5s ease;
}
body * {
  transition: color 0.5s ease, background-color 0.5s ease;
}

h1,
.h1 {
  font-size: 150px;
  line-height: 0.8;
  letter-spacing: -0.04em;
  font-weight: 600;
  color: var(--content-color);
}
@media (max-width: 1200px) {
  h1,
  .h1 {
    font-size: 110px;
  }
}
@media (max-width: 768px) {
  h1,
  .h1 {
    font-size: 70px;
  }
}

h2,
.h2 {
  font-size: 100px;
  line-height: 1;
  letter-spacing: -0.04em;
  font-weight: 600;
  color: var(--content-color);
}
@media (max-width: 1200px) {
  h2,
  .h2 {
    font-size: 80px;
  }
}
@media (max-width: 768px) {
  h2,
  .h2 {
    font-size: 60px;
  }
}

h3,
.h3 {
  font-size: 75px;
  line-height: 1;
  letter-spacing: -0.04em;
  font-weight: 600;
  color: var(--content-color);
}
@media (max-width: 1200px) {
  h3,
  .h3 {
    font-size: 60px;
  }
}
@media (max-width: 768px) {
  h3,
  .h3 {
    font-size: 40px;
  }
}

h4,
.h4 {
  font-size: 50px;
  line-height: 1;
  letter-spacing: -0.04em;
  font-weight: 600;
  color: var(--content-color);
}
@media (max-width: 1200px) {
  h4,
  .h4 {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  h4,
  .h4 {
    font-size: 30px;
  }
}

h5,
.h5 {
  font-size: 30px;
  line-height: 1;
  font-weight: 600;
  color: var(--content-color);
}
@media (max-width: 768px) {
  h5,
  .h5 {
    font-size: 20px;
  }
}

h6,
.h6 {
  font-size: 20px;
  line-height: 1;
  font-weight: 600;
  color: var(--content-color);
}
@media (max-width: 768px) {
  h6,
  .h6 {
    font-size: 16px;
  }
}

p,
.body {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  color: var(--content-color-2);
}
@media (max-width: 768px) {
  p,
  .body {
    font-size: 14px;
  }
}

.body-2 {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  color: var(--content-color-2);
}
@media (max-width: 768px) {
  .body-2 {
    font-size: 10px;
  }
}

.label {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  color: var(--content-color-2);
}
@media (max-width: 768px) {
  .label {
    font-size: 10px;
  }
}

.link {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  color: var(--content-color);
}
@media (max-width: 768px) {
  .link {
    font-size: 14px;
  }
}

.badge {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
}
@media (max-width: 768px) {
  .badge {
    font-size: 14px;
  }
}

.button {
  background-color: var(--content-color);
  color: var(--background-primary-color);
  padding: 12px 24px;
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: 500;
  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  font-size: 16px;
  border: 2px solid transparent;
}
@media (max-width: 768px) {
  .button {
    font-size: 14px;
  }
}
@media (hover: hover) {
  .button:hover {
    background-color: var(--content-color-2);
  }
}
.button:active {
  background-color: var(--content-color-2);
}
.button--outline {
  background-color: transparent;
  border-color: var(--content-color);
  color: var(--content-color);
}
@media (hover: hover) {
  .button--outline:hover {
    background-color: var(--content-color);
    color: var(--background-primary-color);
  }
}
.button--outline:active {
  background-color: var(--content-color);
  color: var(--background-primary-color);
}

code,
.code {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  font-family: "Fira Code", monospace;
}
@media (max-width: 768px) {
  code,
  .code {
    font-size: 10px;
  }
}

/* stylelint-disable */
pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

/* stylelint-enable */
strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

::-webkit-scrollbar {
  background: var(--background-primary-color);
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-border-radius: 1ex;
  background: var(--content-color);
}

::-webkit-scrollbar-corner {
  background: var(--background-primary-color);
}

@font-face {
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/Poppins-Thin.ttf") format("truetype");
  font-family: "Poppins";
}
@font-face {
  font-style: italic;
  font-weight: 100;
  src: url("/fonts/Poppins-ThinItalic.ttf") format("truetype");
  font-family: "Poppins";
}
@font-face {
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/Poppins-ExtraLight.ttf") format("truetype");
  font-family: "Poppins";
}
@font-face {
  font-style: italic;
  font-weight: 200;
  src: url("/fonts/Poppins-ExtraLightItalic.ttf") format("truetype");
  font-family: "Poppins";
}
@font-face {
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/Poppins-Light.ttf") format("truetype");
  font-family: "Poppins";
}
@font-face {
  font-style: italic;
  font-weight: 300;
  src: url("/fonts/Poppins-LightItalic.ttf") format("truetype");
  font-family: "Poppins";
}
@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
  font-family: "Poppins";
}
@font-face {
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/Poppins-Italic.ttf") format("truetype");
  font-family: "Poppins";
}
@font-face {
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Poppins-Medium.ttf") format("truetype");
  font-family: "Poppins";
}
@font-face {
  font-style: italic;
  font-weight: 500;
  src: url("/fonts/Poppins-MediumItalic.ttf") format("truetype");
  font-family: "Poppins";
}
@font-face {
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-family: "Poppins";
}
@font-face {
  font-style: italic;
  font-weight: 600;
  src: url("/fonts/Poppins-SemiBoldItalic.ttf") format("truetype");
  font-family: "Poppins";
}
@font-face {
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Poppins-Bold.ttf") format("truetype");
  font-family: "Poppins";
}
@font-face {
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/Poppins-BoldItalic.ttf") format("truetype");
  font-family: "Poppins";
}
@font-face {
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-family: "Poppins";
}
@font-face {
  font-style: italic;
  font-weight: 800;
  src: url("/fonts/Poppins-ExtraBoldItalic.ttf") format("truetype");
  font-family: "Poppins";
}
@font-face {
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/Poppins-Black.ttf") format("truetype");
  font-family: "Poppins";
}
@font-face {
  font-style: italic;
  font-weight: 900;
  src: url("/fonts/Poppins-BlackItalic.ttf") format("truetype");
  font-family: "Poppins";
}
@font-face {
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/FiraCode-Bold.ttf") format("truetype");
  font-family: "Fira Code";
}
@font-face {
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/FiraCode-Light.ttf") format("truetype");
  font-family: "Fira Code";
}
@font-face {
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/FiraCode-Medium.ttf") format("truetype");
  font-family: "Fira Code";
}
@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/FiraCode-Regular.ttf") format("truetype");
  font-family: "Fira Code";
}
@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/FiraCode-Retina.ttf") format("truetype");
  font-family: "Fira Code";
}
@font-face {
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/FiraCode-SemiBold.ttf") format("truetype");
  font-family: "Fira Code";
}
.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 40px;
  width: 100%;
}

@media (max-width: 768px) {
  .container {
    padding: 0 24px;
  }
}
.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-4 {
  margin-top: 4px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mt-8 {
  margin-top: 8px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mt-12 {
  margin-top: 12px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mt-14 {
  margin-top: 14px;
}

.mb-14 {
  margin-bottom: 14px;
}

.mt-16 {
  margin-top: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-24 {
  margin-top: 24px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mt-32 {
  margin-top: 32px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-56 {
  margin-top: 56px;
}

.mb-56 {
  margin-bottom: 56px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
}

.error {
  color: var(--red-color);
}

.success {
  color: var(--green-color);
}

.warning {
  color: var(--yellow-color);
}

.info {
  color: var(--blue-color);
}

/* stylelint-disable selector-class-pattern */
.c-scrollbar {
  transform: none !important;
  transition: none !important;
}

.c-scrollbar_thumb {
  opacity: 1;
  z-index: 250;
  mix-blend-mode: difference;
  background: var(--content-color);
  width: 5px;
}

/*# sourceMappingURL=main.css.map */
